<div id="id01" class="signupmodel animate">

<div class="row">
  <div class="col-sm-12" style="text-align:center;">
      <h1>Login</h1>
      <hr>
  </div>

  <div class="col-sm-12">
    <form [formGroup]="loginForm">
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted"></small>
      </div>
      <div class="form-group">
        <label for="passwordInput">Password</label>
        <input formControlName="password" type="password" class="form-control" id="passwordInput" aria-describedby="passHelp" placeholder="password">
        <small id="passHelp" class="form-text text-muted"></small>
        <label><input type="checkbox" checked="checked" class="checkbox"> Remember me</label>
        <span class="psw">Forgot <a href="moveToPassword()">password?</a></span>
      </div>

      <div class="form-group" style="text-align:center;">
          <button type="button" class="btn btn-dark" (click)="login()">Log in</button>
      <!--    <button type="button" class="btn btn-secondary" (click)="moveToRegister()">Register</button>-->
          
      </div>
    </form>
  </div>
    
<script>
    // Get the modal
    var modal = document.getElementById('id02');
    
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
    </script>
</div>